ion-header {
  display: flex !important;
  background-color: white !important;

  button {
    background-color: white !important;
    width: 5%;
  }

  .header-container {
    width: 100%;
    display: flex !important;
    justify-content: center;
  }


}