ion-header {
  display: flex !important;
  background-color: white !important;


  .header-container {
    display: flex !important;
    flex-flow: inherit;
    flex-shrink: initial;

    button {
      background-color: white !important;
    }
  }


}